@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.animate-slideDown {
  animation: slideDown 300ms ease-out;
}

.animate-slideUp {
  animation: slideUp 300ms ease-out;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #E5E7EB;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #D1D5DB;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #E5E7EB transparent;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
